﻿@model Ulaznicar.Models.Dogadjaj

@{
    ViewBag.Title = "Detalji";
}
@using Microsoft.AspNet.Identity
<h2>Detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plakat
        </dt>

        <dd>
            <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = Model.Id })" style="max-height:200px; max-width:200px; border-radius:10px" />
        </dd>
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Broj mjesta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojmjesta)
        </dd>
        <dt>
            Naziv lokacije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.naziv)
        </dd>
        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.adresa)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
        Ime kategorije karte
        </th>
        <th>
            Cijena
        </th>
        <th></th>
    </tr>
    @if (ViewBag.cijene != null)
    {
        foreach (var cijena in ViewBag.cijene)
        {
            <tr>
                <td>@cijena.VrstaKarte.imekategorije</td>
                <td>@cijena.cijena</td>
                <td>
                    @Html.ActionLink("Kupi!", "Create", "Karta", new { id = Model.Id, idcijena = cijena.Id }, new { @class = "btn btn-success" })
                </td>
            </tr>

        }
    }
</table>
    <p>
        @if (User.Identity.GetUserName() == "ADMIN")
        {
            @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.Id })
        }
    </p>
    <p>@Html.ActionLink("Povratak na popis događaja", "Index")</p>


