﻿@model PagedList<Ulaznicar.Models.CijenaKarte>
@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Cijene karata";
}

<h2>Cijene karata</h2>

<p>
    @Html.ActionLink("Stvori novu", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Pretraži : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pretraži" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Naziv događaja", "Index", new { sortOrder = ViewBag.NazivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ime kategorije karte", "Index", new { sortOrder = ViewBag.ImeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Cijena", "Index", new { sortOrder = ViewBag.CijenaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dogadjaj.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaKarte.imekategorije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>
        <td>
            @Html.ActionLink("Ažuriraj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
            @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<div class="col-sm-10">
    <div class="center">
        <br />
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
