﻿@model Ulaznicar.Models.VrstaKarte

@{
    ViewBag.Title = "Izbriši";
}

<h2>Izbriši</h2>

<h3>Jeste li sigurni da želite izbrisati ovaj zapis?</h3>
<div>
    <h4>VrstaKarte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lokacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.naziv)
        </dd>

        <dt>
            Ime kategorije karte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imekategorije)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na popis", "Index")
        </div>
    }
</div>
