﻿@model Ulaznicar.Models.VrstaKarte

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Vrsta karte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lokacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.naziv)
        </dd>
        <dt>
            Ime kategorije karte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imekategorije)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Povratak na popis", "Index")
</p>
