﻿@model Ulaznicar.Models.Karta

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Ulaznica</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Dogadjaj.datum <= DateTime.Today)
        {
            <dt>
                QR kod ulaznice :
            </dt>

            <dd>
                @*<img id="the-image" src="@Url.Action("Show", "Karta", new { id = Model.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />*@
                <img src="@Url.Action("Show", "Karta", new { id = Model.Id })" alt="image" />
            </dd>
        }
        else
        {
            <dd>
                <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = Model.Dogadjaj.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
            </dd>
        }
        <dt>
            Naziv događaja :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dogadjaj.naziv)
        </dd>
        <dt>
            Naziv lokacije :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dogadjaj.Lokacija.naziv)
        </dd>
        <dt>
            Adresa lokacije :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dogadjaj.Lokacija.adresa)
        </dd>
        <dt>
            Vrsta ulaznice :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaKarte.VrstaKarte.imekategorije)
        </dd>
        <dt>
            Cijena :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaKarte.cijena)
        </dd>

        <dt>
            Broj ulaznice :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojkarte)
        </dd>



    </dl>
</div>
<p>
@if (Model.Dogadjaj.datum >= DateTime.Now)
        {
    @Html.ActionLink("Stavi na burzu", "Create", "Burza", new { id = Model.Dogadjaj.Id}, new { @class = "btn btn-success" }) 
}
    @Html.ActionLink("Pokloni", "Pokloni", new { id = ViewBag.kup }, new { @class = "btn btn-primary" }) 
    </p>
<p>
    @Html.ActionLink("Povratak na moje ulaznice", "Index")
</p>
