﻿@model PagedList<Ulaznicar.Models.Karta>
@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Moje ulaznice";
}

<h2>Moje ulaznice</h2>

<p>
    @Html.ActionLink("Kupi novu", "Index", "Dogadjaj")
</p>
<table class="table">
    <tr>
        <th>
            QR kod ulaznice
        </th>
        <th>
            @Html.ActionLink("Naziv događaja", "Index", new { sortOrder = ViewBag.NazivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Lokacija", "Index", new { sortOrder = ViewBag.LokSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Datum održavanja", "Index", new { sortOrder = ViewBag.DatumSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Cijena
        </th>

        <th>
            Vrsta ulaznice
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @if (item.Dogadjaj.datum <= DateTime.Today)
            {
                <img id="the-image" src="@Url.Action("Show", "Karta", new { id = item.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
            }
            else
            {
                <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = item.Dogadjaj.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
            }
        </td>


       
        <td>
            @Html.DisplayFor(modelItem => item.Dogadjaj.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dogadjaj.Lokacija.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dogadjaj.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaKarte.cijena)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CijenaKarte.VrstaKarte.imekategorije)
        </td>
        <td>
            @if (item.Dogadjaj.datum > DateTime.Now)
            {
                if (ViewData[item.zastitnikod] != null)
                {
                    <p>
                        @Html.ActionLink("Ukloni s burze", "Delete", "Burza", new { id = ViewData[item.zastitnikod] }, new { @class = "btn btn-danger" })
                    </p>
                }
                else
                {
                <p>
                    @Html.ActionLink("Stavi na burzu", "Create", "Burza", new { id = item.Id }, new { @class = "btn btn-success" })
                </p>
                }
            }
            <p>
                @Html.ActionLink("Detalji", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            </p>
            <p>
                @Html.ActionLink("Pokloni prijatelju", "Pokloni", new { id = ViewData[item.Id.ToString()] }, new { @class = "btn btn-primary" })
            </p>
        </td>
    </tr>
}

</table>
<div class="col-sm-10">
    <div class="center">
        <br />
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
