﻿@model Ulaznicar.Models.Karta

@{
    ViewBag.Title = "Kupovina";
}
<div>
<h2>Kupovina</h2>
    <div >
        <h3 >
            Trenutno ste prijavljeni kao :
        </h3>
        <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.ViewBag.korisnik</h1>
    </div>
<dl class="dl-horizontal" style="font-size:medium; background-color:aliceblue">
    <dt>
        Naziv događaja :
    </dt>

    <dd>
        @Html.ViewBag.naziv
    </dd>
    <dt>
        Datum događaja :
    </dt>

    <dd>
        @Html.ViewBag.datum
    </dd>
    <dt>
        Lokacija :
    </dt>

    <dd>
        @Html.ViewBag.mjesto
    </dd>
    <dt>
        Adresa lokacije :
    </dt>

    <dd>
        @Html.ViewBag.adresa
    </dd>

    <dt>
        Cijena :
    </dt>

    <dd>
        @Html.ViewBag.cijena
    </dd>
</dl>
</div>

<div><h2>Unesite broj računa kojim želite platiti ulaznicu: </h2>
    <input type="text" id="text" name="brrac" />

    &nbsp; &nbsp; &nbsp; @Html.ActionLink("Kupi ulaznicu", "Kupovina_konacna", "Karta", new { id = Model.Id }, new { @class = "btn btn-success" })

    <p style="padding-top:20px">
        @Html.ActionLink("Odustani od kupovine", "Index", "Dogadjaji", null, new { @class = "btn btn-danger" })
    </p>

</div>
    



