﻿@model Ulaznicar.Models.KupljeneKarte

@{
    ViewBag.Title = "Pokloni";
}

<h2>Pokloni</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pokloni ulaznicu korisniku : </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@
        @Html.HiddenFor(model => model.IdKarta)

        @*<div class="form-group">
            @Html.LabelFor(model => model.IdKarta, "IdKarta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdKarta", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdKarta, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group" style="font-size:medium">
            @Html.Label("Odabrana ulaznica", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
            <div class="col-md-10">
                <p>@Html.ViewBag.naziv</p>
                <p>@Html.ViewBag.lok</p>
                <p>@Html.ViewBag.dat</p>
                <p>@Html.ViewBag.cijena</p>

            </div>
        </div>


        <div class="form-group" style="font-size:medium">
            @Html.LabelFor(model => model.IdKorisnik, "Korisničko ime", htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
            <div class="col-md-10">
                @Html.DropDownList("IdKorisnik", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdKorisnik, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pokloni" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Vrati se na moje ulaznice", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
