﻿@model Ulaznicar.Models.Lokacija

@{
    ViewBag.Title = "Izbriši";
}

<h2>Izbriši</h2>

<h3>Jeste li sigurni da želite izbrisati ovaj zapis?</h3>
<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Ime grada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad.imegrad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na popis", "Index")
        </div>
    }
</div>
