﻿@model Ulaznicar.Models.Lokacija

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Ime grada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad.imegrad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Povratak na popis", "Index")
</p>
