﻿@model Ulaznicar.Models.Burza

@{
    ViewBag.Title = "Ponuda";
}

<h2>Ponudi ulaznicu na burzi</h2>


@*@using (Html.BeginForm("Create", "Burza", null, FormMethod.Post, new { enctype = "multipart/form-data" }))*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Burza</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IdKupac)
        @Html.HiddenFor(model => model.datumponude)
        @Html.HiddenFor(model => model.datumprodaje)


        @if (ViewBag.ime != null)
        {
            <div class="form-group" style="font-size:medium">
                @Html.Label("Naziv događaja", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p>@Html.ViewBag.dogadjaj.naziv</p>
                </div>
            </div>
        <div class="form-group" style="font-size:medium">
            @Html.Label("Naziv lokacije", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.ViewBag.dogadjaj.Lokacija.naziv</p>
            </div>
        </div>
        <div class="form-group" style="font-size:medium">
            @Html.Label("Datum održavanja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p> @Html.ViewBag.dogadjaj.datum</p>
            </div>
        </div>
    <div class="form-group" style="font-size:medium">
        @Html.Label("Kupljena po cijeni", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p> @Html.ViewBag.cijena</p>
        </div>
    </div>


            @*@Html.Hidden("IdKarta",ViewData["karta"])*@
            @Html.Hidden("Id", 0)
            @Html.Hidden("IdKarta", (int)ViewBag.dogadjaj.Id)
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IdKarta, "Ulaznica za događaj", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdKarta", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdKarta, "", new { @class = "text-danger" })
                </div>
            </div>

        }
        <div class="form-group">
            @Html.LabelFor(model => model.cijena, "Cijena", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cijena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Postavi na burzu!" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
