﻿@model Ulaznicar.Models.Burza

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Burza</h4>
    <hr />
    <dl class="dl-horizontal">
         <dt>
            Plakat
        </dt>
            
        <dd>
            <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = Model.KupljeneKarte.Karta.Dogadjaj.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
        </dd>
    
        <dt>
            Naziv događaja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KupljeneKarte.Karta.Dogadjaj.naziv)
        </dd>
        <dt>
            Naziv lokacije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KupljeneKarte.Karta.Dogadjaj.Lokacija.naziv)
        </dd>
        <dt>
            Adresa lokacije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KupljeneKarte.Karta.Dogadjaj.Lokacija.adresa)
        </dd>
        
        <dt>
            Datum ponude
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumponude)
        </dd>

        <dt>
            Cijena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijena)
        </dd>


    </dl>
</div>
<p>
    @if (Model.IdKupac == null)
    {
        @Html.ActionLink("Kupi ovu ulaznicu", "Kupovina", new { id = Model.Id }, new { @class = "btn btn-success" })
    }
    @Html.ActionLink("Povratak na burzu", "Index")
</p>
