﻿@model PagedList<Ulaznicar.Models.Burza>
@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Burza";
}

<h2>Karte na burzi</h2>

<p>
    @Html.ActionLink("Stavi svoju kartu na burzu", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Pretraži : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pretraži" />
    </p>
    <div class="form-group">
        <div class="radio-inline">
            @Html.RadioButton("search", "Dogadjaj", true,
          new { id = "Dogadjaj" }) po događaju
        </div>
        <div class="radio-inline">
            @Html.RadioButton("search", "Lokacija",
           new { id = "Lokacija" }) po lokaciji
        </div>
        <div class="radio-inline">
            @Html.RadioButton("search", "Datum",
           new { id = "Datum" }) po datumu
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Plakat
        </th>
        <th>
            @Html.ActionLink("Naziv događaja", "Index", new { sortOrder = ViewBag.NazivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Lokacija
        </th>
        <th>
            Datum događaja
        </th>

        <th>
            @Html.ActionLink("Datum ponude", "Index", new { sortOrder = ViewBag.DatumSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Cijena", "Index", new { sortOrder = ViewBag.CijenaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = item.KupljeneKarte.Karta.Dogadjaj.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KupljeneKarte.Karta.Dogadjaj.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KupljeneKarte.Karta.Dogadjaj.Lokacija.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KupljeneKarte.Karta.Dogadjaj.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumponude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>

        @if (ViewBag.user == "ADMIN")
        {
            <td>

                @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        }
        @if (Request.IsAuthenticated)
        {
         
                if (ViewBag.vlastite.IndexOf(item.IdKarta) != -1)
                {
                    <td>
                        @Html.ActionLink("Ažuriraj", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) 
                        @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                }
                else
                {
                    if (item.IdKupac == null)
                    {
                        <td>
                            @Html.ActionLink("Detalji", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) 
                            @Html.ActionLink("Kupi ulaznicu!", "Kupovina", new { id = item.Id }, new { @class = "btn btn-success" })
                        </td>
                    }
                }

        }
    </tr>
}

</table>
<div class="col-sm-10">
    <div class="center">
        <br />
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
